.ranking-table-container {
  grid-area: ranking-table;
  animation: fadeIn 1s ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  color: var(--thead-text);
  border-bottom: 1px solid var(--td-border);
}

th {
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  padding-bottom: 10px;
  padding-left: 13px;
}

tbody {
  font-size: 1rem;
  margin-top: 10px;
  color: var(--tbody-text);
}

td {
  padding: 13px;
  text-wrap: balance;
}

td:first-child,
th:first-child {
  width: 120px; /* Ancho de la primera columna */
}

img {
  width: 60px;
  height: 40px;
  aspect-ratio: attr(width) / attr(height);
  border-radius: 0.2rem;
  vertical-align: middle;
}

/* Section: Pagination table */
.pagination-container {
  color: var(--thead-text);
}

.pagination-button {
  background-color: var(--pagination-button-bg);
  color: var(--pagination-button-text);
  padding: 0.5rem 0.8rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

tbody tr {
  transition: all 0.3s ease-in-out;
}

tbody tr:hover {
  background-color: var(--bg-table-dark);
  cursor: pointer;
}

a {
  text-decoration: none;
}
