.ranking-header-container {
  grid-area: ranking-header;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.ranking-filter-container {
  grid-area: ranking-filter;
  padding-right: 40px;
  animation: fadeIn 1s ease-in-out;
}

.ranking-filter-container h2 {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--thead-text);
  margin-bottom: 10px;
}

/* Section: Sort by: */
.sort-by-container {
  margin-bottom: 30px;
}

.sort-filter-form select {
  appearance: none;
  outline: none;
  width: 100%;
  padding: 0.7rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.2em;
  color: var(--tbody-text);
  cursor: pointer;
  border: 2px solid var(--container-border);
  border-radius: 0.8rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.sort-filter-form select:focus,
.sort-filter-form select:hover {
  border: 2px solid white;
  cursor: pointer;
}

.sort-filter-form select option {
  font-size: 0.9rem;
  cursor: pointer;
  background: var(--bg-dark);
  color: var(--tbody-text);
}

/* Section: Region */
.region-container {
  margin-bottom: 30px;
}

.region-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.region-buttons button.inactive {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  margin: 0 0.9rem 0.9rem 0;
  border-radius: 0.8rem;
  font-size: 1rem;
  color: var(--thead-text);
  transition: all 0.3s ease-in-out;
}

.region-buttons button.active {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  margin: 0 0.9rem 0.9rem 0;
  border-radius: 0.8rem;
  font-size: 1rem;
  color: var(--tbody-text);
  background: var(--bg-table-dark);
  transition: all 0.3s ease-in-out;
}

.region-buttons button:hover {
  color: var(--tbody-text);
}

/* Section: Status */
.status-buttons {
  color: var(--tbody-text);
  display: flex;
  flex-direction: column;
}

.status-checkbox {
  display: flex;
  align-items: center;
  margin-right: 15px; 
  margin-bottom: 10px;
}

.status-checkbox span {
  margin-left: 5px; 
}

.checkbox {
  display: none;
}

.custom-checkbox {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--thead-text);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--thead-text);
  border-radius: 2px;
  opacity: 0;
}

.checkbox:checked + .custom-checkbox::after {
  opacity: 1;
}

/* Section: Search */
.search-form {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 400px;
}

.search-input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--bg-table-dark);
  color: var(--tbody-text);
  transition: all 0.3s ease-in-out;
}

.search-input:focus,
.search-input:hover {
  border: 1.5px solid white;
  outline: none;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus,
.search-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-table-dark) inset !important;
  -webkit-text-fill-color: var(--tbody-text) !important;
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: var(--thead-text);
  width: 1rem;
  height: 1rem;
}
