---
import Hero from "../components/Hero.astro";
import RankingFilter from "../components/RankingFilter.jsx";
import Layout from "../layouts/Layout.astro";

const countries = await fetch("https://restcountries.com/v3.1/all")
  .then((data) => data.json())
  .catch((err) => console.log(err));

//console.log(countries);
---

<Layout title="Country Page - WorldRanks">
  <Hero />
  <section class="container">
    <RankingFilter countries={countries} client:load />
  </section>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "ranking-header ranking-header"
      "ranking-filter ranking-table";
    width: 90%;
    max-width: 1800px;
    margin-top: -10px;
    min-height: 70vh;
    margin: -65px auto 0 auto;
    border: 2px solid rgb(101, 101, 101);
    border-radius: 15px;
    background-color: var(--bg-dark);
    padding: 0 40px;
  }
</style>
