---

---

<header class="ranking-header-container">
  <p>Found 1 Country</p>
  <form>
    <input type="text" name="search" placeholder="Search for a country" />
  </form>
</header>

<style>
  .ranking-header-container {
    grid-area: ranking-header;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
</style>
